<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .simple_bubble {
            position: relative;
            width: 100%;
            height: 300px;
            margin-top: 5px;
            margin-left: 5px;
        }
        .simple_bubble1 {
            position: relative;
            width: 100%;
            height: 300px;
            margin-top: 10px;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div><button class="back">back</button></div>
<div><button class="widget0" widget="bubble">bubble简单应用</button></div>
<div class="simple_bubble"></div>

<div><button class="widget1" widget="bubble">参数设置,动态setIndex</button></div>
<div class="simple_bubble1"></div>

</body>
</html>