<h1>我是首页</h1>
<div><button hash="list">点击我去list</button></div>
<div><button hash="mask">点击我去mask</button></div>
<div><button hash="loading">点击我去loading</button></div>
<div><button hash="alert">点击我去alert</button></div>
<div><button hash="toast">点击我去toast</button></div>
<div><button hash="reloading">点击我去reloading</button></div>
<div><button hash="num">点击我去num</button></div>
<div><button hash="switch">点击我去switch</button></div>
<div><button hash="bubble">点击我去bubble</button></div>
<div><button hash="tab">点击我去tab</button></div>
<div><button hash="scroll">点击我去scroll</button></div>
<div><button hash="radiolist">点击我去radiolist</button></div>
<div><button hash="scroll">点击我去scroll</button></div>
<div><button hash="scroll_across">点击我去scroll_across</button></div>
<div><button hash="select">点击我去select</button></div>
<div><button hash="groupselect">点击我去groupselect</button></div>