<style type="text/css">
    .map { background: gray; border: 1px solid black; position: relative; margin: 50px auto; width: 416px; height: 416px; }
    .moveobj { position: absolute; left: 0; top: 0; }
    .tank { background-image: url("./images/Tank.png"); background-repeat: no-repeat; overflow: hidden; z-index: 3; }
    .bullet { background-image: url("./images/Misc.png");  width: 8px; height: 8px; z-index: 4; background-repeat: no-repeat; }
    .boom { background-image: url("./images/Boom.png"); width: 64px; height: 64px; z-index: 4; }

</style>
<h2>
w：上；a左；d右；s下；j子弹
</h2>
<div id="msg">
  【<span>当前血量：</span> <span id="hp"></span>】 <span>【 得分：</span> <span id="score">
  </span>】【<span>当前级数：</span><span id="level"></span>】
</div>
<div class="map" id="map">
</div>
