﻿<div id="headerview" style="height: 48px;">
    <header>
        <h1>alert组件</h1>
    </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
    @param title        {String}    标题
    @param content      {String}    内容
    @param buttons      {array}     需要生成的按钮
    @param template     {String}    模板视图文本
    @param events       {Object}    绑定事件
    @param setDatamodel {Object}    动态设置属性、事件
    </code></pre>
</section>

<section class="demos">

    <h2 class="dh2">demo1</h2>
    <input type="button" class="demo1 btn" value="简单使用">
    <pre><code>
    if (!this.alert1) {
        this.alert1 = new UIAlert();
    }
    this.alert1.show();
    </code></pre>
  
    <h2 class="dh2">demo2</h2>
    <input type="button" class="demo2 btn" value="单按钮">
    <pre><code>
   if (!this.alert2) {
    this.alert2 = new UIAlert({
      datamodel: {
        title: 'demo01',
        content: 'content01'
      },
      okAction: function () {
        alert('ok');
        this.hide();
      },
      cancelAction: function () {
        alert('cancel');
        this.hide();
      }
    });
  }
  this.alert2.show();
    </code></pre>


    <h2 class="dh2">demo3</h2>
    <input type="button" class="demo3 btn" value="三按钮">
    <pre><code>
    if (!this.alert3) {
    this.alert3 = new UIAlert({
      datamodel: {
        title: 'demo02',
        content: 'content02',
        btns: [
          { name: '知道了', className: 'cui-btns-ok' },
          { name: '不知道', className: 'cui-btns-no' },
          { name: '未知', className: 'cui-btns-unknown' }
        ]
      },
      events: {
        'click .cui-btns-ok': 'okAction',
        'click .cui-btns-no': 'noAction',
        'click .cui-btns-unknown': 'unknownAction'
      },
      okAction: function () {
        alert('知道了');
        this.hide();
      },
      noAction: function () {
        alert('不知道');
        this.hide();
      },
      unknownAction: function () {
        alert('未知');
        this.hide();
      }
    });
  }
  this.alert3.show();
    </code></pre>

    <h2 class="dh2">demo4</h2>
    <input type="button" class="demo4 btn" value="content定制化">
    <pre><code>
    if (!this.alert4) {
    this.alert4 = new UIAlert({
      datamodel: {
        title: 'demo02',
        content: 'content02',
        btns: [
          { name: '知道了', className: 'cui-btns-ok' }
        ]
      },
      events: {
        'click .cui-btns-ok': 'okAction'
      },
      okAction: function () {
        alert('知道了');
        this.hide();
      }
    });
  }
  this.alert4.show();
    </code></pre>

    <h2 class="dh2">demo5</h2>
    <input type="button" class="demo5 btn" value="执行setDatamodel">
    <pre><code>
  this.alert5 = null;
  if (!this.alert5) {
    this.alert5 = new UIAlert();
  }
  this.alert5.show();

  setTimeout(function () {
    this.alert5.setDatamodel({
      title: 'setDatamodel',
      content: 'after 0.5s change setDatamodel'

    },
    function () {
      alert('i am ok');
      this.hide();
    },
    function () {
      alert('i am cancel');
      this.hide();
    });
  } .bind(this), 500);
    </code></pre>


</section>
 
