
<div id="headerview" style="height: 48px;">
  <header>
    <h1>alert组件</h1>
  </header>
</div>

<section class="prams">
    <h2>基本参数说明</h2>

    <pre><code>
      function cat () {
        alert(123)
      }
    </code></pre>
</section>
 
<section class="demos">

<input type="button" class="demo1 btn" value="简单使用">
<input type="button" class="demo2 btn" value="单按钮">

<input type="button" class="demo3 btn" value="三按钮">

<input type="button" class="demo4 btn" value="content定制化">

<input type="button" class="demo5 btn" value="执行setDatamodel">


</section>
 
