
<div id="headerview" style="height: 48px;">
  <header>
    <h1>alert组件</h1>
  </header>
</div>

<section class="prams">
    <h2>基本参数说明</h2>

<pre><code class=" hljs javascript">
    <span class="hljs-comment">// @param rootBox {dom}            控件的容器</span>
    <span class="hljs-comment">// @param changed {function}       点击加号，减号触发的函数</span>
    <span class="hljs-comment">// @param changeAble {bool}        按钮是否可点击,</span>
    <span class="hljs-comment">// @param unit {String}            控件的计量单位</span>

    <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">cat</span><span class="hljs-params">()</span> {</span>
        alert(<span class="hljs-number">123</span>);
    }
</code></pre>
</section>
 
<section class="demos">

<input type="button" class="demo1 btn" value="简单使用">
<input type="button" class="demo2 btn" value="单按钮">

<input type="button" class="demo3 btn" value="三按钮">

<input type="button" class="demo4 btn" value="content定制化">

<input type="button" class="demo5 btn" value="执行setDatamodel">


</section>