<style>
    .center {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
</style>

<div id="headerview" style="height: 48px;">
  <header>
    <h1>toast组件</h1>
  </header>
</div>

<ul class="cui-cond-bar cui-top-fixed">
  <li id="filter">筛选<i class="cui-fl-sort cui-fl-filter"></i></li>
  <li id="orderBy" class="cond-bar-current">默认排序<i class="cui-fl-sort"></i></li>
</ul>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
    @param template     {String}    模板视图文本
    @param needMask     {Bool}      是否需要mask
    @param template     {String}    模板视图文本
    @param events       {Object}    绑定事件
    @param setDatamodel {Object}    动态设置属性、事件
    @param datamodel    {
      data:      {Array}            数据
      upClass:   {String}           向上的class
      upClass:   {String}           向上的class
      upClass:   {String}           向上的class
      index:     {Int}              选择的下标
      dir:       {String}           箭头的方向
    }
    </code></pre>
</section>
 
<section class="demos">

 <h2 class="dh2">注意项</h2>
<pre><code>
/*
该组件功能将更新......
*/
</code></pre>


<h2 class="dh2">demo1</h2>
<input type="text" class="d-input demo-input1 ml-10" placeholder="请选择..." />
<input type="button" class="demo1 btn" value="中间按钮" >
<pre><code>
if(!this.demo1) {
    var data = [{ name: '&lt;span class="center">价格/星级&lt;/span>' },
      { name: '&lt;span class="center">位置区域&lt;/span>' },
      { name: '&lt;span class="center">品牌&lt;/span>' },
      { name: '&lt;span class="center">测试&lt;/span>'}];


    var el = $(e.currentTarget);
    var index = parseInt(Math.random() * 4);
    var dir = (e.pageY > 200) ? 'down' : 'up';
    this.demo1 = new UIBubbleLayer({
      triggerEl: el,
      datamodel: {
        data: data,
        dir: dir,
        index: index
      },
      onClick:  function (e, data, index, el) {
        console.log(arguments);
        this.setIndex(index);
        this.hide();
      }
    });
  }
  this.demo1.show();
</code></pre>

 <h2 class="dh2">demo2</h2>
<input type="text" class="d-input demo-input2 ml-10" placeholder="请选择..." />
<input type="button" style=" width: 200px;" class="demo2 btn" value="点击选项关闭，在显示项目还在" >
<pre><code>
  if(!this.demo2) {
    var data = [{ name: '&lt;span class="center">价格/星级&lt;/span>' },
      { name: '&lt;span class="center">位置区域&lt;/span>' },
      { name: '&lt;span class="center">品牌&lt;/span>' },
      { name: '&lt;span class="center">测试&lt;/span>'}];


    var el = $(e.currentTarget);
    var index = parseInt(Math.random() * 4);
    var dir =  'up';
    this.demo2 = new UIBubbleLayer({
      triggerEl: el,
      datamodel: {
        data: data,
        dir: dir,
        index: index
      },
      onClick:  function (e, data, index, el) {
        console.log(arguments);
        this.setIndex(index);
        this.hide();
      }
    });
  }
  this.demo2.show();
</code></pre>

 <h2 class="dh2">demo3</h2>
<input type="text" class="d-input demo-input3 ml-10" placeholder="请选择..." />
<input type="button" class="demo3 btn" value="需要mask"  style=" width: 100px;">
<pre><code>
  if(!this.demo3) {
    var data = [{ name: '&lt;span class="center">价格/星级&lt;/span>' },
      { name: '&lt;span class="center">位置区域&lt;/span>' },
      { name: '&lt;span class="center">品牌&lt;/span>' },
      { name: '&lt;span class="center">测试&lt;/span>'}];


    var el = $(e.currentTarget);
    var index = parseInt(Math.random() * 4);
    var dir = (e.pageY > 200) ? 'down' : 'up';
    this.demo3 = new UIBubbleLayer({
      triggerEl: el,
      datamodel: {
        data: data,
        dir: dir,
        index: index
      },
      needMask:true,
      onClick:  function (e, data, index, el) {
        console.log(arguments);
        this.setIndex(index);
        this.hide();
      }
    });
  }
  this.demo3.show();
</code></pre>

 <h2 class="dh2">demo4</h2>
<input type="text" class="d-input demo-input4 ml-10" placeholder="请选择..." />
<input type="button" class="demo4 btn" value="定制化每个冒泡项目">
<pre><code>
  if(!this.demo4) {
    var data = [{ name: '&lt;span class="center">普通会员&lt;/span>' },
      { name: '&lt;span class="center">vip&lt;/span>' },
      { name: '&lt;span class="center">高级vip&lt;/span>' },
      { name: '&lt;span class="center">钻石vip&lt;/span>'}];


    var el = $(e.currentTarget);
    var index = parseInt(Math.random() * 4);
    var dir = (e.pageY > 200) ? 'down' : 'up';
    this.demo4 = new UIBubbleLayer({
      triggerEl: el,
      datamodel: {
        data: data,
        dir: dir,
        index: index
      },
      onClick:  function (e, data, index, el) {
        console.log(arguments);
        this.setIndex(index);
        this.hide();
      }
    });
  }
  this.demo4.show();
</code></pre>

<ul class="cui-cond-bar cui-bottom-fixed">
	<li class="cond-bar-current">默认排序<i class="cui-fl-sort"></i></li>
</ul>
</section>