<style>
.cui-roller .ul-list li img { width: 100%; height: 100%;}
</style>
<div id="headerview" style="height: 48px;">
    <header>
        <h1>图片轮播</h1>
    </header>
</div>

<section class="demos">

 <h2 class="dh2">可缩放的图片轮播</h2>
<section class="imageslider silder" style=" height: 150px; margin: 0 auto; " ></section>
<pre><code>
/*
注意，我们经常有图片自动缩放的需求，这里一般有两种方案：
① 媒体查询 改变容器高宽
② 动态js改变 改变容器高宽
这里推荐媒体查询，因为手机不会有js动态改变的场景
另外控件本身做了处理，会铺满整个容器，业务只需要改变包裹层即可比如：

这里注意在页面隐藏时（onHide）要执行
this.imgSlider.stop();
停止轮询时钟
*/

这里设置高宽的时候最好有一个比例值，不要出现小数或者一些特殊数字

if (this.imgSlider) return;

var data = [
  { id: 1, src: './res/img/1.jpg', href: './res/img/1.jpg' },
  { id: 2, src: './res/img/2.jpg', href: './res/img/2.jpg' },
  { id: 3, src: './res/img/3.jpg', href: './res/img/3.jpg' },
  { id: 4, src: './res/img/4.jpg', href: './res/img/4.jpg' }
];

this.imgSlider = new UIImageSlider({
  datamodel: {
    data: data,
    itemFn: function (item) {
      return '...';
    }
  },
  displayNum: 1,
  wrapper: this.$('.imageslider')
});
this.imgSlider.show();

var resetWrapper = function () {
  var demo = this.$('.imageslider1');
  var flag = parseInt(demo.width() - 400);
  demo.height(150 + 0.4 * flag);
};
resetWrapper();
this._imgSlider();
$(window).on('resize.imageslider1', $.proxy(function () {
  resetWrapper();
}, this));
</code></pre>

<h2 class="dh2">改变导航条</h2>
<section class="imageslider silder1" style=" height: 150px; margin: 0 auto; " ></section>
<style>
.cui-slide-nav-new span { background: rgba(0,0,0,.5); border-radius: 0; margin: 0; height: 4px; opacity:0.6; }
.cui-slide-nav-new .cui-slide-nav-item-current{background:#ff9913;opacity:1;}
</style>


<pre><code>
/*
这里与上面代码的不同便只是改变导航即可
*/
this.imgSlider1 = new UIImageSlider({
  datamodel: {
    data: data,
    itemFn: function (item) {
      return '...';
    }
  },
  createNav: function () {
    if (this.sliderNav) return;
    var nav = '......';
    for (var i = 0; i < this.itemNum; i++) {
      nav += '......';
    }
    nav += '......';
    this.sliderNav = $(nav);
    this.sliderNav.find('span').width(this.wrapper.width() / this.itemNum);

    this.$el.append(this.sliderNav);
    this.setzIndexTop(this.sliderNav);
    this._setNavIndex(this.datamodel.index);
  },
  displayNum: 1,
  wrapper: this.$('.silder1')
});
this.imgSlider1.show();
</code></pre>


</section>

