

    <section class="demos">
        <h2 class="dh2">demo1</h2>
        <div class="parent-div">
            <input type="text" class="d-input my-input" value="1"/>
            <input type="text" class="d-input my-input"  value="2"/>
            <input type="text" class="d-input my-input"  value="3"/>
        </div>

        <input type="button" class="new-input btn" value="新增input">

        <h2 class="dh2">demo2</h2>
            <input type="text" class="d-input my-input other-input" value="1"/>
            <input type="text" class="d-input my-input other-input"  value="2"/>
            <input type="text" class="d-input my-input other-input"  value="3"/>

        <textarea class="my-area my-input">

        </textarea>
    </section>
