<style>

/*popup-operate*/
.popup-operate{position:fixed;bottom:0;left:0;width:100%;}
.popup-operate ul{margin:10px;overflow:hidden;border-radius:6px;}
.popup-operate ul li{height:44px;margin:1px 0;line-height:44px;text-align:center;font-size:20px;color:#157efb;background-color:#FFF;}


</style>
<div id="headerview" style="height: 48px;">
  <header>
    <h1>
      弹出层list</h1>
  </header>
</div>


<section class="demos">

 <h2 class="dh2">身份证键盘</h2>
<pre><code>
var scope = this;
if (!this.list) {
  var data = [];

  for (var i = 0; i < 4; i++) {
    data.push({ name: '更多操作' + i });
  }

  this.list = new UILayerList({
    datamodel: {
      list: data
    },
    onItemAction: function (item) {
      scope.$('.listSec').html(item.name);
      this.hide();
    }
  });
}

this.list.show();
</code></pre></section>

<h2 class="demo">点击我</h2>
<h2 class="listSec"></h2>