<div id="headerview" style="height: 48px;">
    <header>
        <h1>全局遮盖类pageview</h1>
    </header>
</div>


<section class="demos">

 <h2 class="dh2">注意项</h2>
<pre><code>
/*
我们常常有一些全局遮盖类组件，比如404提示，比如日历需求
但是这类需求往往带有一些业务描述，比如全局遮盖，比如点击浏览器后退不后退而是关闭弹出层
对于组件来说，以上需求造成了其不纯粹性，而且组件本不应该具有以上特性，所以提出pageview的概念，并且做全局单例化
他会重置组件的wrapper

===因为pageview是全局通用的所以组件使用后需要清理（框架会做一些清理），不然会一直在上面，清理dom时候记得销毁组件
===pageview会清理组件也就是inlineInstance，但是其它操作便需要自己搞了

instance作为内嵌实例而存在，其会被pageview主动显示，pageview hide时候会自己hide
showAction 为pageview显示时候执行的回调，用户可以在此设置header属性，这里涉及web与Hybrid操作
hideAction 为pageview隐藏时候执行的回调，用户可以在此设置header属性，这里涉及web与Hybrid操作
animateSwitch 表示是否开启动画效果，支持right, left, top, bottom
showPageview: function (instance, showAction, hideAction, animateSwitch)
hidePageview: function ()
*/
</code></pre>

 <h2 class="dh2">基本用法</h2>
<input type="button" class="fxdemo btn" value="框架基本用法">
<pre><code>
/*
这里简单装载一个组件
*/
if (!this.num1)
  this.num1 = new UINum({
    datamodel: {
      min: 2,
      max: 6,
      curNum: 1,  //默认值，小于min会自动设置为min值
      unit: '只',
      needText: false
    },
    //把组件放入指定容器，不知道这样对不对。
    wrapper: this.$el.find('.simple_num1')
  });

this.showPageview(this.num1)
</code></pre>
 <h2 class="dh2">其它用法</h2>
<input type="button" class="fxdemo1 btn" value="其它用法">

<pre><code>
/*
一些时候我们并不想直接传入实例，而是想在等view实例化显示后再做一些操作，这个时候可以这样做
获得其容器方法为this.pageViewContent
使用showAction与hideAction可以干很多事情
*/
this.showPageview(null, function () {
  this.pageViewContent.html('1111');
}, function () {
  //这里注意做清理操作
  this.pageViewContent.html('');
});
</code></pre>

