<div id="headerview" style="height: 48px;">
    <header>
        <h1>radio组件</h1>
    </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
        @param template     {String}     模板
        @param displayNum   {String}     一页显示几项
        @param scroll       {Dom}        滚动的dom
        @param events       {Object}     绑定事件
        @param setmodel     {Object}     动态设置属性
        @param datamodel    {
            title:          {String}     标题
            data:           {Array}      数据
            selectId:       {Int}        当前选中的id
            index:          {Int}        下标
        }
    </code></pre>
</section>

<section class="demos">

    <h2 class="dh2">demo1</h2>
    <input type="button" class="demo1 btn" value="radio简单使用">
    <pre><code>

    </code></pre>

    <h2 class="dh2">demo2</h2>
    <input type="button" class="demo2 btn" value="参数设置、事件重写">
    <pre><code>

    </code></pre>

    <h2 class="dh2">demo3</h2>
    <input type="button" class="demo3 btn" value="动态参数设置">
    <pre><code>

    </code></pre>
</section>