<div id="headerview" style="height: 48px;">
    <header>
        <h1>radio组件</h1>
    </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
    @param template     {String}     模板
    @param displayNum   {String}     一页显示几项
    @param scroll       {Dom}        滚动的dom
    @param events       {Object}     绑定事件
    @param setmodel     {Object}     动态设置属性
    @param datamodel    {
        title:          {String}     标题
        data:           {Array}      数据
        selectId:       {Int}        当前选中的id
        index:          {Int}        下标
    }
    </code></pre>
</section>

<section class="demos">

    <h2 class="dh2">demo1</h2>
    <input type="text" class="d-input demo-input1 ml-10" placeholder="请选择..." />
    <input type="button" class="demo1 btn" value="radio简单使用">
    <pre><code>
      if (!this.radio1) {
        var demodata1 =  [{ id:'华语'}, { id:'欧美'}, {id:'工作学习' }, {id:'粤语' },{id:'轻音乐' }, {id:'咖啡' }];
        this.radio1 = new UIRadioList({
          //数据模型
          datamodel: {
            title: '豆瓣fm',
            data: demodata1
          },
          displayNum: 5,
          selectId: 4,
          index: 4
        });
      }
      this.radio1.show();
    </code></pre>

    <h2 class="dh2">demo2</h2>
    <input type="text" class="d-input demo-input2 ml-10" placeholder="请选择..." />
    <input type="button" class="demo2 btn" value="参数设置、事件重写">
    <pre><code>
      if (!this.radio2) {
        var demodata2 =  [{ id:'红茶'}, { id:'绿茶'}, {id:'菊花茶' }, {id:'茉莉茶' },{id:'铁观音' }, {id:'乌龙茶' }, {id:'奶茶' }, {id:'打奶茶' }];
        this.radio2 = new UIRadioList({
          datamodel: {
            title: '茶',
            data: demodata2
          },
          //绑定事件
          events: {
            'click .cui-select-view> li' : 'myClickAction'
          },
          myClickAction: function(e) {
            var el = $(e.target),  //获取当前点击的dom
                i = el.attr('data-index');
                this.setIndex(i);  //设置点击的选项
                console.log('my click action ',  this.getSelected());
          }
        });
      }
      this.radio2.show();
    </code></pre>

    <h2 class="dh2">demo3</h2>
    <input type="text" class="d-input demo-input3 ml-10" placeholder="请选择..." />
    <input type="button" class="demo3 btn" value="动态参数设置">
    <pre><code>
      if (!this.radio3) {
        var beforeData3 =  [{ id:'红茶'}, { id:'绿茶'}, {id:'菊花茶' }, {id:'茉莉茶' },{id:'铁观音' }, {id:'乌龙茶' }, {id:'奶茶' }, {id:'打奶茶' }];
        var setData3 =  [{ id:'冰红茶'}, { id:'冰绿茶'}, {id:'玫瑰花茶' },{id:'薄荷茶' }];
        //动态改变的数据
        var setDatamodel = {
          title: 'set茶',
          data: setData3
        };
        this.radio3 = new UIRadioList({
          datamodel: {
            title: '1秒改变茶',
            data: beforeData3
          }
        });
      }
      this.radio3.show();
      //1秒后动态改变组件的数据
      setTimeout(function() {
        this.radio3.setDatamodel(setDatamodel);
      }.bind(this), 1000);
    </code></pre>
</section>
<h2 class="dh2">
  高级用法</h2>
<input type="text" class="d-input demo-input4 ml-10" placeholder="请选择..." />
<input type="button" class="demo4 btn" value="高级用法">


<pre>
<code>
/*
功能待续......

*/

</code>
</pre>

