<div id="headerview" style="height: 48px;">
    <header>
        <h1>reloading组件</h1>
    </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
        @param template     {String}    自定义模板
        @param maskToHide   {Bool}      是否点击mask隐藏
        @param needMask     {Bool}      是否需要mask
        @param events       {Object}    绑定事件
        @param setDatamodel {Function}  动态设置数据模型
        @param datamodel    {           数据模型
            text            {String}    文字信息
        }
    </code></pre>
</section>

<section class="demos">
    <h2 class="dh2">demo1</h2>
    <input type="button" class="widget0 btn" value="reloading简单应用" >
    <pre><code>
    if(!this.reloading) {
      this.reloading = new UIReLoading({
        datamodel: {
          text: 'delete'
        }
      });
    }

    this.reloading.show();
    </code></pre>

    <h2 class="dh2">demo2</h2>
    <input type="button" class="widget1 btn" value="不需要蒙板" >
    <pre><code>
    if(!this.reloading1) {
      this.reloading1 = new UIReLoading({
        datamodel: {
          text: 'delete'
        },
        needMask: false  //不需要蒙板
      });
    }

    this.reloading1.show();
    </code></pre>

    <h2 class="dh2">demo3</h2>
    <input type="button" class="widget2 btn" value="reloading动态设置" >
    <pre><code>
    if(!this.reloading2) {
      this.reloading2 = new UIReLoading({
        datamodel: {
          text: 'delete'
        },
        maskToHide: true
      });
    }

    this.reloading2.show();

    //0.5s后 动态设置数据模型
    setTimeout(function() {
      this.reloading2.setDatamodel('动态的', function() {
        alert('closeing');
        this.hide();
      });
    }.bind(this), 500);
    </code></pre>

</section>
