<div id="headerview" style="height: 48px;">
    <header>
        <h1>scollLayer组件</h1>
    </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
    @param html         {String}     scroll的内容
    @param maxHeight    {Int}        最大高度
    @param events       {Object}     绑定事件
    @param datamodel    {
        title:          {String}     标题
        btns:           {Array}      按钮数组
    }
    </code></pre>
</section>

<section class="demos">
 	<h2 class="dh2">demo1</h2>
    <input type="button" class="demo1 btn" value="scrollLayer简单使用">
    <pre><code>
    if (!this.scrollLayer) {
        var html = '';
        for(var i=0;i<40;i++) {
          html += "&lt;p>this is scrollLayer"+ i +"&lt;/p>";
        }
        this.scrollLayer = new UIScrollLayer({
          maxHeight: 400,  //出现scroll的最大高度
          html: '&lt;div class="s-tpl">'+ html +'&lt;/div>'
        });
    }
      this.scrollLayer.show();
    </code></pre>

    <h2 class="dh2">demo2</h2>
    <input type="button" class="demo2 btn" value="参数设置、事件重写">
    <pre><code>
    if (!this.scrollLayer2) {
        var html = '';
        for(var i=0;i<40;i++) {
          html += '&lt;p>服务费'+ i +'&lt;/p>';
        }
        this.scrollLayer2 = new UIScrollLayer({
          maxHeight: 400,
          html: '&lt;div class="s-tpl">'+ html +'&lt;/div>',
          datamodel: {
            title: '收费明细',
            btns: [
              { name: '取消', className: 'cui-btns-cancel' },
              { name: '确定', className: 'cui-btns-ok' }
            ]
          },
          //重新绑定事件
          events: {
            'click .cui-btns-ok': 'myOkAction',
            'click .cui-btns-cancel': 'myCancelAction',
            'click .cui-top-close': 'myCloseAction'
          },
          //分别重写三个按钮事件
          myOkAction: function() {
            console.log('my ok');
            this.hide();
          },
          myCancelAction: function() {
            console.log('my cancel');
            this.hide();
          },
          myCloseAction: function() {
            console.log('my close');
            this.hide();
          }
        });
    }
    this.scrollLayer2.show();
    </code></pre>
</section>



