<div id="headerview" style="height: 48px;">
    <header>
        <h1>switch组件</h1>
    </header></div>

    <h2 class="dh2">基本参数说明</h2>

<pre><code>
this.num = new UISelect({
  //数据模型，会影响插件渲染
  datamodel: {
    checkedFlag: false,//当前选中状态
    checkedClass: 'current'//选中状态时dom的class
  },
  //选项改变执行的事件
  changed: function (status) {
    console.log(status);
  };
  //UI组件包裹器，会放到什么容器里面
  wrapper: this.$('.simple_switch')
});
</code></pre>

    <h2 class="dh2">switch简单应用</h2>
    <div class="mlr-10">当前选择状态：<span class="demo1Status"></span></div>
    <div class="simple_switch mlr-10"></div>

<pre><code>
this.uiSwitch = new UISwitch({
  wrapper: this.$el.find('.simple_switch'),
  changed: function (status) {
    scope.$('.demo1Status').html(status);
  }
});
this.uiSwitch.show();

this.$('.demo1Status').html(this.uiSwitch.getStatus());
</code></pre>

    <h2 class="dh2">设置默认值</h2>
    <div class="simple_switch1 mlr-10"></div>

<pre><code>
this.uiSwitch1 = new UISwitch({
  datamodel: {
    checkedFlag: true
  },
  wrapper: this.$el.find('.simple_switch1')
});
this.uiSwitch1.show();
</code></pre>

    <h2 class="dh2">当上面组件状态为true时才可选（该处有误待纠正）</h2>
    <div class="simple_switch2 mlr-10"></div>

<pre><code>
this.uiSwitch2 = new UISwitch({
  wrapper: this.$el.find('.simple_switch2'),
  changed: function (status) {
    console.log('i am status:', status);
  },
  checkAvailabe: function () {
    if (!scope.uiSwitch1.getStatus()) {
      return false;
    }
    return true;
  }
});
this.uiSwitch2.show();
</code></pre>
