<style>
    input {
        border:1px solid #ccc;
        background: #fff;
    }
</style>
<div id="headerview" style="height: 48px;">
    <header>
        <h1>tab组件</h1>
    </header></div>

<section class="cui-citys-bd">

    <div><button class="widget0" widget="tab">tab简单应用</button></div>

    <div class="wrapper"></div>

    <div><button class="widget1" widget="tab">设置参数、重写change</button></div>

    <div class="wrapper1"></div>

    <div>
        <h3>自定义的getIndex、setIndex</h3>
        <button class="getIndex">getIndex</button> <input type="text" class="getInfo"/>
        <button class="setIndex">setIndex</button> <input type="text" class="setInfo"/>
    </div>
</section>