<div id="headerview" style="height: 48px;">
  <header>
    <h1>延迟加载组件</h1>
  </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
@param imgs         {Dom}        imgs的dom
@param container    {Dom}        延时加载图片的容器
@param width        {Int}        容器宽
@param height       {Int}        容器高
@param loadingImg   {String}     loading状态下的默认图片
@param loadingBg    {String}     loading状态下的背景
    </code></pre>
</section>

<section class="demos">
   

    <pre><code>
if (!this.sss) {
    //html 过长故只写一个图片
    var imgsArr =  "&lt;li class='js_hotel_detail' data-hotelid='439749'>&lt;div class='hotel-g-proimg'>&lt;img data-src='http://images4.c-ctrip.com/target/hotel/65000/64164/1684EC16-8A01-4B39-814C-C4C4537CF790_130_130.jpg' width='96' height='96' ></div></li>";

    this.$('.imgs-area').append(imgsArr);

    this.sss = new cLazyload({
        imgs: this.$('.imgs-area img'),
        container: this.$('.imgs-area')
    });
}
    </code></pre>

     <h2 class="dh2">demo1</h2>
    <input type="button" class="demo1 btn" value="lazyLoad">

    <div class="imgs-area">

    </div>
</section>