<div id="headerview" style="height: 48px;">
  <header>
    <h1>loading组件</h1>
  </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
    @param template     {String}    自定义模板
    @param maskToHide   {Bool}      是否点击mask隐藏
    @param needMask     {Bool}      是否需要mask
    </code></pre>
</section>
 
<section class="demos">

<h2 class="dh2">demo1</h2>
<input type="button" class="demo1 btn" value="简单使用" >
<pre><code>
      if (!this.loading1) {
        this.loading1 = new UILoading();
      }
      this.loading1.show();
</code></pre>

<h2 class="dh2">demo2</h2>
<input type="button" class="demo2 btn" value="mask变成透明" >
<pre><code>
      if (!this.loading2) {
        this.loading2 = new UILoading({

        });
      }
      this.loading2.show();
</code></pre>

<h2 class="dh2">demo3</h2>
<input type="button" class="demo3 btn" value="不需要mask">
<pre><code>
      if (!this.loading3) {
        this.loading3 = new UILoading({
          needMask: false
        });
      }
      this.loading3.show();
</code></pre>
<h2 class="dh2">demo4</h2>
<input type="button" class="demo4 btn" value="点击mask关闭loading">
<pre><code>
      if (!this.loading4) {
        this.loading4 = new UILoading({
          maskToHide: true
        });
      }
      this.loading4.show();
</code></pre>


</section>