<div id="headerview" style="height: 48px;">
    <header>
        <h1>横向滚动组件</h1>
    </header>
</div>

    <h2 class="dh2">基本参数说明</h2>
<pre><code>
new UISlider({
  //数据模型，会影响插件渲染
  datamodel: {
    curClass: 'current',//选中dom的class名
    data: [],//数据项数组{id; '', name: ''}
    id: null,//当前选择id
    index: 4//当前选择索引，若是id有值且有效会重置index的值
  },
  //选项改变执行的事件
  changed: function (item) {
    console.log(item);
  };
  //UI组件包裹器，会放到什么容器里面
  wrapper: this.$('.simple_num2')
});
</code></pre>

<h2 class="dh2">简单使用</h2>
<section class="demo1" style="height:100px;">
</section>
<div class="demo1_sec"></div>
<pre><code>
var data = [
  { id: 1, name: '中国' }, { id: 2, name: '美国' }, { id: 3, name: '英国' }
];
for (var i = 0; i < 20; i++) {
  data.push({ id: i + 4, name: '中国' + i });
}
this.slider = new UISlider({
  datamodel: {
    data: data
  },
  wrapper: this.$('.demo1')
});
this.slider.show();
</code></pre>
 
<div id="footer">
</div>
