<style>
    .cui-bottom-fixed {
        border:0px;
    }
</style>
<div id="headerview" style="height: 48px;">
  <header>
    <h1>select组件</h1>
  </header></div>

    <h2 class="dh2">基本参数说明</h2>
<pre><code>
this.num = new UISelect({
  //数据模型，会影响插件渲染
  datamodel: {
    curClass: 'current',//选中dom的class名
    data: [],//数据项数组{id; '', name: ''}
    id: null,//当前选择id
    index: 4//当前选择索引，若是id有值且有效会重置index的值
  },
  //选项改变执行的事件
  changed: function (item) {
    console.log(item);
  };
  //UI组件包裹器，会放到什么容器里面
  wrapper: this.$('.simple_num2')
});
</code></pre>

    <h2 class="dh2">简单使用</h2>
<div>
当前选项：<span class="demo1Sec"></span>
</div>
<div class="demo1"></div>
<pre><code>
var scope = this, curItem;
var demo1Sec = scope.$('.demo1Sec');
this.demo1 = new UISelect({
  datamodel: {
    data: [
      { id: 1, name: '中国' }, { id: 2, name: '美国' }, { id: 3, name: '英国' }
    ]
  },
  displayNum: 3,
  changed: function (item) {
    demo1Sec.html(item.id + ': ' + item.name);
  },
  wrapper: this.$('.demo1')
});

this.demo1.show();

curItem = this.demo1.getSelected();
demo1Sec.html(curItem.id + ': ' + curItem.name);
</code></pre>
<h2 class="dh2">
  日期选择器（偷懒暂不考虑闰年）</h2>
<div>
  <input class="md" />
</div>

<div style="  width: 100%; ">
  <div class="month" style=" float: left;  width: 50%;">
  </div>
  <div class="day" style="float: left;  width: 50%;">
  </div>
</div>
<div style=" clear: both;"></div>
<pre><code>
var m = [], d = [], md = this.$('.md'), i, fn, scope = this;
var dayFlag = { 1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 };

for (i = 0; i < 31; i++) {
  var id = i + 1;
  if (i < 12) {
    m.push({ id: id, name: id + '月' });
  }
  d.push({ id: id, name: id + '日' });
}

fn = function (item) {
  md.val(scope.month.getSelected().name + scope.day.getSelected().name);
  md.attr('data-month', scope.month.getSelected().id);
  md.attr('data-day', scope.day.getSelected().id);
}

this.month = new UISelect({
  datamodel: {
    data: m
  },
  displayNum: 3,
  changed: function (item) {
  },
  wrapper: this.$('.month'),
  changed: function (item) {
    var m = item.id, i, index, tmp = dayFlag[m];
    for (i = 31; i > 28; i--) {
      index = i - 1;
      scope.day.datamodel.data[index].disabled = false;
      if (i > tmp) {
        scope.day.datamodel.data[index].disabled = true;
      }
    }
    scope.day.reload();
    fn();
  }
});

this.day = new UISelect({
  datamodel: {
    data: d
  },
  displayNum: 3,
  changed: function (item) {
  },
  wrapper: this.$('.day'),
  changed: fn
});

this.month.show();
this.day.show();
fn();
</code></pre>
