<div id="headerview" style="height: 48px;">
  <header>
    <h1>
      toast组件</h1>
  </header></div>
 
<section class="cui-citys-bd">

<ul class="cui-cond-bar cui-top-fixed">
	<li id="filter">筛选<i class="cui-fl-sort cui-fl-filter"></i></li>
	<li id="orderBy" class="cond-bar-current">默认排序<i class="cui-fl-sort"></i></li>
</ul>

<input type="button" class="demo1" value="中间按钮" style="background-color:Orange; width:135px; text-align:center">
<input type="button" class="demo2" value="点击选项关闭，在显示项目还在" style="background-color:Orange; width:135px; text-align:center">
<input type="button" class="demo3" value="需要mask" style="background-color:Orange; width:135px; text-align:center">

<input type="button" class="demo4" value="定制化每个冒泡项目" style="background-color:Orange; width:135px; text-align:center">

<ul class="cui-cond-bar cui-bottom-fixed">
	<li class="cond-bar-current">默认排序<i class="cui-fl-sort"></i></li>
</ul>
</section>