<style>
    .gray {
        color:#cfcfcf;
    }
    .cui_cld_daybox i, .cui_cld_daybox em {
        float: left;
        display: inline-block;
        width: 100%;
        height: 50%;
        line-height: 24px;
    }
</style>
<div id="headerview" style="height: 48px;">
    <header>
        <h1>calendar组件</h1>
    </header></div>

<section class="cui-citys-bd">

    <div><button class="demo1">calendar简单应用</button></div>

    <div class="wrapper"></div>

    <div><button class="demo2">设置参数、重写change</button></div>

    <div class="wrapper1"></div>


</section>