<div id="headerview" style="height: 48px;">
  <header>
    <h1>
      toast组件</h1>
  </header></div>
 
<section class="cui-citys-bd">

<input type="button" class="demo1" value="简单使用" style="background-color:Orange; width:135px; text-align:center">
<input type="button" class="demo2" value="mask变成透明" style="background-color:Orange; width:135px; text-align:center">
<input type="button" class="demo3" value="不需要mask" style="background-color:Orange; width:135px; text-align:center">
<input type="button" class="demo4" value="点击mask关闭loading" style="background-color:Orange; width:135px; text-align:center">



</section>