<ul class="cui_cldweek" style=" position: static; ">
<% var i = 0, day1 = 0;  %>
<%for(day1 = 0; day1 < 7; day1++) { %>
<li><%=weekDayArr[day1] %></li>
<%} %>
</ul>

<section class="cui_cldunit">
<%for(var j = 0; j < displayMonthNum; j++) { %>
<%
  var changedMonth = month + j;
  var yyy =  parseInt(( month + j ) / 12);
  if(changedMonth > 11) { 
    changedMonth = changedMonth - 12 * yyy;
  }
  changedYear = year + yyy;
  var d = new Date(changedYear, changedMonth);
  var days = _.dateUtil.getDaysOfMonth(d);
  var beginWeek = _.dateUtil.getBeginDayOfMouth(d);

  var str_month = MonthClapFn(changedYear, changedMonth);
%>
  <%if(str_month.length > 0 ) { %>
  <h1 class="cui_cldmonth">
    <%=str_month %>
  </h1>
    <% } %>
  <ul class="cui_cld_daybox">
     <% for(i = 0; i < beginWeek; i++) { %>
        <li class="cui_invalid"></li>
      <% } %>
      <% for(i = 0; i < days; i++) { %>
        <% var day = i + 1; %>
        <% var calendar_time = (new Date(changedYear, changedMonth, day )).getTime(); %>
        <% var difftime = calendar_time - curTime; %>
        <% var dateObj = new Date(changedYear, changedMonth, day ); %>


        <li class="cui_calendar_item <%if(difftime < 0) { %> cui_cld_daypass <%} %>"data-date="<%=changedYear%>-<%=changedMonth%>-<%=day%>"><%=dayItemFn.call(scope, changedYear, changedMonth, day, dateObj, difftime)%> </li>
      <% } %>
  </ul>
<%} %>
</section>