.cm-radio-list li {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  line-height: 33px;
  padding: 5px 10px;
  position: relative;
  display: block;
  cursor: pointer;
}
.cm-radio-list li:first-child {
  border-top: 1px solid #dbdbdb;
}
.cm-radio-list li:active, .cm-radio-list li:hover {
  background-color: whitesmoke;
}

.cm-radio-list li {
  padding-right: 30px;
}
.cm-radio-list .active {
  color: #099fde;
}
.cm-radio-list .active::after {
  content: "";
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #099fde;
  border-left: 2px solid #099fde;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.cm-group-list .cm-group-item.expanded .cm-group-hd::after {
  margin-top: 3px;
  -webkit-transform: translate(0, -50%) rotate(135deg);
  transform: translate(0, -50%) rotate(135deg);
}
.cm-group-list .cm-group-item.expanded .cm-group-bd {
  display: block;
}
.cm-group-list .cm-group-item:nth-of-type(1) .cm-group-hd {
  border-top: 1px solid #dbdbdb;
}
.cm-group-list .cm-group-hd {
  line-height: 34px;
  font-weight: bold;
  background-color: whitesmoke;
  position: relative;
  padding: 0 10px;
  border-bottom: 1px solid #dbdbdb;
}
.cm-group-list .cm-group-hd::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-left: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.cm-group-list .cm-group-bd {
  display: none;
}
.cm-group-list .cm-group-bd li:first-child {
  border-top: none;
}
