


.cm-radio-list li {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  line-height: 33px;
  padding: 5px 10px;
  position: relative;
  display: block;
  cursor: pointer;
}

.cm-radio-list li:first-child {
  border-top: 1px solid #dbdbdb;
}

.cm-radio-list li:active,
.cm-radio-list li:hover {
  background-color: whitesmoke;
}

.cm-modal .cm-modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-close {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

.icon-close::before,
.icon-close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -8px;
}

.icon-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.p10 {
  padding: 10px;
}

.icon-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.icon-close::before,
.icon-close::after {
  background-color: white;
}

.cm-actions {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cm-actions .cm-actions-btn {
  display: table-cell;
}

.cm-actions .cm-actions-btn {
  color: #099fde;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cm-actions .cm-actions-btn:first-child {
  border-left: none;
}

.cm-actions .cm-actions-btn:active {
  background: #e6e6e6;
}

.cm-actions--full {
  display: block;
}

.cm-actions--full .cm-actions-btn {
  display: block;
  width: 100%;
  border-left: none;
}

.cm-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 985;
}

.cm-radio-list li {
  padding-right: 30px;
}

.cm-radio-list .active {
  color: #099fde;
}

.cm-radio-list .active::after {
  content: "";
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #099fde;
  border-left: 2px solid #099fde;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.cm-modal {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.cm-modal .cm-modal-hd {
  height: 44px;
  line-height: 44px;
  background-color: #099fde;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.cm-modal .cm-modal-title {
  line-height: 44px;
  padding-left: 10px;
  padding-right: 44px;
  font-weight: bold;
  font-size: 16px;
}

.cm-modal .cm-modal-hd--center {
  text-align: center;
}

.cm-modal .cm-modal-hd--center .cm-modal-title {
  padding-right: 10px;
}

.cm-modal .cm-modal-hd--tint {
  background-color: #fff;
  color: #333;
}

.cm-modal .cm-modal-hd--tint .icon-close {
  background-color: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 7px;
  right: 5px;
  line-height: 30px;
}

.cm-modal .cm-modal-bd {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.cm-modal--ft .cm-modal-ft {
  height: 44px;
  line-height: 44px;
  border-top: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.cm-modal--ft .cm-modal-ft.cm-actions {
  border-top: none;
}

.cm-modal .cm-radio-list li:first-child,
.cm-modal .cm-checkbox-list li:first-child {
  border-top: none;
}

.cm-modal .cm-radio-list li:last-child,
.cm-modal .cm-checkbox-list li:last-child {
  border-bottom: none;
}

.cm-modal--action {
  background: none;
  padding-top: 0;
  top: auto;
  bottom: 0;
}

.cm-modal--action .cm-actions {
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  border-top: none;
}

.cm-modal--alert {
  border: 1px solid #dbdbdb;
  padding-top: 0;
}

.cm-modal--alert .cm-modal-bd {
  padding: 20px 10px;
  text-align: center;
}

.cm-modal--alert .cm-modal-bd .cm-alert-title {
  font-weight: bold;
  font-size: 16px;
}

.cm-modal--alert .cm-modal-bd .cm-mutil-lines {
  text-align: left;
}

.cm-modal--toast {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
}