.icon-loading, .icon-loading .icon-loading-circle {
  background-image: url(http://pic.c-ctrip.com/h5/common/bg-global.png);
  background-repeat: no-repeat;
  background-size: 240px auto;
  vertical-align: middle;
  display: inline-block;
}

.icon-close {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}
.icon-close::before, .icon-close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -8px;
}
.icon-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.icon-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.icon-close::before, .icon-close::after {
  background-color: white;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
.icon-loading {
  position: relative;
  width: 38px;
  height: 38px;
  background-position: -39px 0;
}
.icon-loading .icon-loading-circle {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-animation: loading 0.8s linear infinite;
  animation: loading 0.8s linear infinite;
}

.icon-loading--gray {
  width: 24px;
  height: 24px;
  background-position: -96px 0;
}
.icon-loading--gray .icon-loading-circle {
  width: 24px;
  height: 24px;
  background-position: -77px 0;
}

.cm-loading {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.cm-loading--close {
  padding: 15px;
  width: 100px;
}
.cm-loading--close .icon-close {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.cm-loading--close .icon-close::before, .cm-loading--close .icon-close::after {
  height: 12px;
}
.cm-loading--close .cm-loading-text {
  margin-top: 10px;
}

.cm-loading--fail {
  padding: 10px 15px;
  white-space: nowrap;
}
