<style>
  .me_num-value-txt { width: 33px; height: 100%; padding: 0; color: #000; margin: 0 33px; text-align: center; }
  .cui-number-ma i.me_num-minus { left: -10px; font: 400 2.8em/25px Arial; }
  .cui-number-ma i.me_num-add { right: -10px; font: 400 2.2em/29px Arial; }
  .cui-number-ma i.me_num-minus:after { content: "-"; left: 10px; top: 7px; background: orangered; }
  .cui-number-ma i.me_num-add:after { content: "+"; right: 10px; top: 7px; background: orangered; }
</style>

<div id="headerview" style="height: 48px;">
  <header>
    <h1>数字组件</h1>
  </header>
</div>
    <h2 class="dh2">基本参数说明</h2>
<section class="code">
<pre><code>
this.num = new UINum({
  //数据模型，会影响插件渲染
  datamodel: {
    min: 1,//最小值
    max: 9,//最大值
    curNum: 1,//当前值
    addClass: 'num-add',//增加dom的class名
    minusClass: 'num-minus',//减少dom的class名
    curClass: 'num-value-txt',//当前项的class名
    unit: '个',//数字单位
    needText: true//是否需要编辑文本
  },
  //事件定义，会触发相关事件
  events: {
    'click .me_num-add': 'addAction',
  },
  //对应事件回调
  addAction: function () {
    this.setVal(this.datamodel.curNum + 2);
    console.log('me addAction');
  },
  //UI组件包裹器，会放到什么容器里面
  wrapper: this.$('.simple_num2')
});
</code></pre>
</section>

    <h2 class="dh2">简单使用</h2>
    <div class="simple_num ml-10"></div>
<pre><code>
this.num = new UINum({
  //把组件放入指定容器
  wrapper: this.$el.find('.simple_num')
});
this.num.show();
</code></pre>


    <h2 class="dh2">分别设置min、max、单位、是否可以input输入值</h2>
    <div class="simple_num1 ml-10"></div>
<pre><code>
this.num1 = new UINum({
  datamodel: {
    min: 2,
    max: 6,
    curNum: 1,  //默认值，小于min会自动设置为min值
    unit: '只',
    needText: false
  },
  //把组件放入指定容器，不知道这样对不对。
  wrapper: this.$el.find('.simple_num1')
});
this.num1.show();
</code></pre>

    <h2 class="dh2">分别设置加、减、text  Class</h2>

    <div class="simple_num2 ml-10"></div>
<pre><code>
//注意，css不能写在模板文件中，我这里偷懒写进去了，你们不能这么做
this.num2 = new UINum({
  datamodel: {
    addClass: 'me_num-add',
    minusClass: 'me_num-minus',
    curClass: 'me_num-value-txt'
  },
  events: {
    'click .me_num-add': 'addAction',
    'click .me_num-minus': 'minusAction',
    'focus .me_num-value-txt': 'txtFocus',
    'blur .me_num-value-txt': 'txtBlur'
  },
  addAction: function () {
    this.setVal(this.datamodel.curNum + 2);
    console.log('me addAction');
  },
  minusAction: function () {
    this.setVal(this.datamodel.curNum - 2);
    console.log('me minusAction');
  },
  txtFocus: function () {
    this.curNum.val('');
  },
  txtBlur: function () {
    this.setVal(this.curNum.val());
  },
  initElement: function () {
    this.curNum = this.$('.me_num-value-txt');
  },
  //把组件放入指定容器。
  wrapper: this.$el.find('.simple_num2')
});
this.num2.show();
</code></pre>

    <h2 class="dh2">重写change事件</h2>
    <div class="simple_num3 ml-10"></div>

<pre><code>
this.num3 = new UINum({
  changed: function (num) {
    console.log('i am change' + num);
  },
  //把组件放入指定容器，不知道这样对不对。
  wrapper: this.$el.find('.simple_num3')
});
this.num3.show();
</code></pre>

    <h2 class="dh2">需要组件3值为5才可选择</h2>
    <div class="simple_num4 ml-10"></div>

<pre><code>
var scope = this;
this.num4 = new UINum({
  availableFn: function () {
    if (scope.num3.getVal() == 5) return true;
    alert('需要上一个组件为5才可选');
    return false;
  },
  wrapper: this.$el.find('.simple_num4')
});
this.num4.show();
</code></pre>

