<div id="headerview" style="height: 48px;">
    <header>
        <h1>loading组件</h1>
    </header>
</div>

<section class="prams">
    <h2 class="dh2">基本参数说明</h2>

    <pre><code>
@param template     {String}    自定义模板
@param maskToHide   {Bool}      是否点击mask隐藏
@param needMask     {Bool}      是否需要mask
@param events       {Object}    绑定事件
@param setDatamodel {Function}  动态设置数据模型
@param datamodel    {           数据模型
    text            {String}    文字信息
}
    </code></pre>
</section>

<section class="demos">

 <h2 class="dh2">注意项</h2>
<pre><code>
/*
① loading 组件比较特殊，view切换时候，不会自动关闭，需要在另一个页面显示调用this.hideLoading才能关闭
② 组件本身继承至layer类，所以具有以下特性
//需要蒙版
this.needMask = true;

//需要点击蒙版删除
this.maskToHide = true;

//需要居中定位
this.needReposition = true;

//是否具有后退关闭弹出层需求
this.hasPushState = false;;

//类型为layer
this.type = 'layer';
*/
</code></pre>

 <h2 class="dh2">框架用法</h2>
    <input type="button" class="fxdemo btn" value="框架基本用法">
    <input type="button" class="fxdemo01 btn" value="框架基本用法-带文字">
    <input type="button" class="fxdemo02 btn" value="框架基本用法-带关闭按钮">
    <input type="button" class="fxdemo03 btn" value="框架基本用法-带文字与关闭按钮">

<pre><code>
/*
框架提供一个简单的提示类效果，并且此弹出框是单例的全局共享，在后退等操作中会自动关闭，建议使用


message为显示的文字信息，没有可以传空字符串
hideAction如果设置的话会有一个关闭的按钮，并可以绑定回调，记得在里面执行this.hide
showLoading: function (message, hideAction) {

*/
//设置关闭时间
'click .fxdemo': function () {
  this.showLoading();
  setTimeout($.proxy(function () {
    this.hideLoading();
  }, this), 2000);

},
//loading只传入一个参数，设置文字
'click .fxdemo01': function () {
  this.showLoading('我是文字');
  setTimeout($.proxy(function () {
    this.hideLoading();
  }, this), 2000);
},
//第一个参数缺省，不含文字，第二个参数设置关闭按钮
'click .fxdemo02': function () {
  this.showLoading(null, function () {
    this.hide();
  });
},
//带上第一个参数，设置文字，第二个参数设置关闭按钮
'click .fxdemo03': function () {
  this.showLoading('我是文字信息', function () {
    this.hide();
  });
},

</code></pre>

    <h2 class="dh2">demo1</h2>
    <input type="button" class="widget0 btn" value="reloading简单应用" >
    <pre><code>
if(!this.reloading) {
  this.reloading = new UIReLoading({
    datamodel: {
      text: 'delete'
    }
  });
}
this.reloading.show();
    </code></pre>

    <h2 class="dh2">demo2</h2>
    <input type="button" class="widget1 btn" value="不需要蒙板" >
    <pre><code>
if(!this.reloading1) {
  this.reloading1 = new UIReLoading({
    datamodel: {
      text: 'delete'
    },
    needMask: false  //不需要蒙板
  });
}

this.reloading1.show();
    </code></pre>

    <h2 class="dh2">demo3</h2>
    <input type="button" class="widget2 btn" value="reloading动态设置" >
    <pre><code>
if(!this.reloading2) {
  this.reloading2 = new UIReLoading({
    datamodel: {
      text: 'delete'
    },
    maskToHide: true
  });
}

this.reloading2.show();

//0.5s后 动态设置数据模型
setTimeout(function() {
  this.reloading2.setDatamodel('动态的', function() {
    alert('closeing');
    this.hide();
  });
}.bind(this), 500);
    </code></pre>

</section>
