<div id="headerview" style="height: 48px;">
    <header>
        <h1>横向滚动组件</h1>
    </header>
</div>

    <h2 class="dh2">基本参数说明</h2>
<pre><code>
new UISlider({
  //数据模型，会影响插件渲染
  datamodel: {
    curClass: 'current',//选中dom的class名
    data: [],//数据项数组{id; '', name: ''}
    id: null,//当前选择id
    index: 4//当前选择索引，若是id有值且有效会重置index的值
  },
  //选项改变执行的事件
  changed: function (item) {
    console.log(item);
  };
  //UI组件包裹器，会放到什么容器里面
  wrapper: this.$('.simple_num2')
});
</code></pre>

<h2 class="dh2">简单使用</h2>
<section class="demo1" style="height:100px; width: 92%; border: 1px solid black; margin: 0 auto;" >
</section>
<div class="demo1_sec"></div>
<pre><code>
var data = [
  { id: 1, name: '中国' }, { id: 2, name: '美国' }, { id: 3, name: '英国' }
];
for (var i = 0; i < 20; i++) {
  data.push({ id: i + 4, name: '中国' + i });
}
this.slider = new UISlider({
  datamodel: {
    data: data
  },
  wrapper: this.$('.demo1')
});
this.slider.show();
</code></pre>
 
<div id="footer">
</div>

<h2 class="dh2">图片slider</h2>

<section class="demo2" style=" height: 200px; width: 92%;  border: 1px solid black; margin: 0 auto; "  >
</section>

<pre><code>
var data = [
    { id: 1, src: './res/img/1.jpg', href: './res/img/1.jpg' },
    { id: 2, src: './res/img/2.jpg', href: './res/img/2.jpg' },
    { id: 3, src: './res/img/3.jpg', href: './res/img/3.jpg' },
    { id: 4, src: './res/img/4.jpg', href: './res/img/4.jpg' }
];


this.imgSlider = new UISlider({
datamodel: {
  data: data,
  itemFn: function (item) {
    return '&lt;img src="' + item.src + '"&gt;';
  }
},
displayNum: 1,
wrapper: this.$('.demo2'),
changed: function (item) {
}
});

this.imgSlider.show();
</code></pre>


<h2 class="dh2">复杂使用</h2>
<section class="demo3" style="height: 38px; width: 120px;  margin: 0 auto;" >
</section>
<br /><br />
<div class="demo3_sec"></div>
<pre><code>
_initSwitch: function () {
  if (this.switch1) return;

  //      var sec = this.$('.demo1_sec');
  var data = [
    { id: 'on', name: 'on', checked: true }, { id: 'off', name: 'off', checked: false }
  ];

  this.switch1 = new UISlider({
    datamodel: {
      data: data
    },
    momentum: false,
    displayNum: 1,
    wrapper: this.$('.demo3'),
    changed: function (item) {
      console.log(item.checked);
    },
    itemClick: function (item) {
      console.log(item.checked);
      if (item.checked) {
        this.setId('off');
      } else {
        this.setId('on');
      }
    }
  });
  this.switch1.show();
},
</code></pre>



<h2 class="dh2">复杂日历使用</h2>

<section class="demo4" style=" height: 340px; width: 96%; margin: 0 auto; "  >
</section>
<style>
  .cui-roller .ul-list li.current { font-size: 1.3255em; color: #333; }
</style>
<pre><code>
if (this.calendar) return;

var sec = this.$('.demo3_sec');
var data = [
  {},
  {},
  {},
  {},
  {}
];

this.slider1 = new UISlider({
  datamodel: {
    data: data,
    itemFn: function () {
      return '<div style="width: 98%; height: 96%; border: 1px solid #bcbcbc;"></div>';
    }
  },
  momentum: false,
  displayNum: 1,
  wrapper: this.$('.demo4'),
  changed: function (item) {
    //          sec.html('当前选择：' + 'id: ' + item.id + ', ' + 'name: ' + item.name);
  },
  itemClick: function (item) {
  }
});
this.slider1.show();
this.slider1.calendarArr = [];

for (var i = 0, len = data.length; i < len; i++) {
var dateObj = new Date();
var dateObj = new Date(dateObj.getFullYear(), dateObj.getMonth() + i, dateObj.getDate());

  this.slider1.calendarArr[i] = new UICalendar({
    dateObj:dateObj,
    datamodel: {
      displayMonthNum: 1
    },
    wrapper: this.slider1.$('li[data-index="' + i + '"]').find('div')
  });
  this.slider1.calendarArr[i].show();
}


var item = this.slider1.getSelected();

sec.html('当前选择：' + 'id: ' + item.id + ', ' + 'name: ' + item.name);
</code></pre>
