<style>
    input {
        border:1px solid #ccc;
        background: #fff;
    }
</style>
<div id="headerview" style="height: 48px;">
    <header>
        <h1>tab组件</h1>
    </header></div>

    <h2 class="dh2">基本参数说明</h2>

<pre><code>
this.num = new UISelect({
  //数据模型，会影响插件渲染
  datamodel: {
    data: [],
    curClass: 'cui-tab-current',
    selectedKey: null,
    index: 0
  },
  //选项改变执行的事件
  onChange: function (data) {
    console.log(data);
  };
  //UI组件包裹器，会放到什么容器里面
  wrapper: this.$('.simple_switch')
});
</code></pre>

    <h2 class="dh2">tab简单应用</h2>

    <div class="wrapper mlr-10">请滑动我</div>


<pre><code>
this.tab = new UITab({
  datamodel: {
    data: [
      { id: 1, name: '中国' },
      { id: 2, name: '美国' },
      { id: 3, name: '日本' }
    ]
  },
  wrapper: this.$el.find('.wrapper')
});
this.tab.show();
</code></pre>

<h2 class="dh2">
  setIndex/getIndex</h2>
<div class="wrapper1 mlr-10">
</div>
<div style="margin: 10px; padding: 10px;">
  <button class="getIndex btn">
    getIndex</button>
  <input type="text" class="getInfo" />
  <button class="setIndex btn">
    setIndex</button>
  <input type="text" class="setInfo" />
</div>

<pre><code>
this.tab1 = new UITab({
  datamodel: {
    data: [
      { id: 1, name: '图片' },
      { id: 2, name: '音乐' },
      { id: 3, name: '视频' },
      { id: 4, name: '其它' }
    ],
    curClass: 'cui-tab-current',
    index: 0
  },
  onChange: function() {
    console.log('onChange myself:' + this.el.attr('data-key')+ this.el.html() );
  },
  wrapper: this.$el.find('.wrapper1')
});
this.tab1.show();

//对应按钮事件
getIndex: function() {
  var index = this.tab1.getIndex();
  this.$el.find('.getInfo').val(index);
},
setIndex: function() {
  var index = this.$el.find('.setInfo').val() || 0;
  this.tab1.setIndex(index);
},

</code></pre>


<h2 class="dh2">
  tab项目过多的demo</h2>
 
<div class="wrapper2 mlr-10" style=" width: 460px; height: 44px;">
</div>

<pre>
<code>
/*
注意，组件的实例化最好放到页面渲染（显示）结束后
如果tab数量过多的话便不建议使用tab组件了，而采用slider组件，模拟tab组件，比如：
*/
this.tab2 = new UISlider({
    datamodel: {
       data: [
          { id: 1, name: '图片' },
          { id: 2, name: '音乐' },
          { id: 3, name: '视频' },
          { id: 4, name: '其它' },
          { id: 11, name: '图1片' },
          { id: 12, name: '音1乐' },
          { id: 13, name: '视1频' },
          { id: 14, name: '其1它' }
       ],
       index: 0
    },
    changed: function (item) {
       scope.showToast(item.id+ ': '+item.name);
    },
    wrapper: this.$el.find('.wrapper2')
});
this.tab2.show();
</code>
</pre>