<div id="headerview" style="height: 48px;">
    <header>
        <h1>validate组件</h1>
    </header>
</div>

<section class="demos">
    <h2 class="dh2">demo1</h2>

    <form class="validate-form mlr-10">
        <div><label>邮箱:</label><input type="text" class="va-input" val-type="isEmail" att="nimei"/></div>
        <div><label>密码:</label><input type="password" class="va-input" val-type="isPassword" /></div>
        <div><label>手机号:</label><input type="text" class="va-input" val-type="isMobile" /></div>
        <div><label>中文:</label><input type="text" class="va-input" val-type="isChinese"/></div>
        <div><label>英语:</label><input type="text" class="va-input" val-type="isEnglish" /></div>
        <div><label>邮政编码:</label><input type="text" class="va-input" val-type="isZip"/></div>
        <div><label>日期:</label><input type="text" class="va-input" val-type="isDate"/></div>
        <div><label>数字:</label><input type="text" class="va-input" val-type="isNum"/></div>
        <div><label>isCellPhone:</label><input type="text" class="va-input" val-type="isCellPhone" /></div>
        <div><label>idCard:</label><input type="text" class="va-input" val-type="isIDCardNo"/></div>
        <div><label>英文和空格:</label><input type="text" class="va-input" val-type="isEnglishAndSpace"/></div>
        <div><label>繁体:</label><input type="text" class="va-input" val-type="isTraditional"/></div>
        <div><label>身份证:</label><input type="text" class="va-input" val-type="isIdCard" /></div>
        <div><label>验证码:</label><input type="text" class="va-input" val-type="isRightVerifycode"/></div>
        <div><label>重复数字:</label><input type="text" class="va-input" val-type="isAllowSetTradingPass" num="0" />-<input type="text" class="va-input" val-type="isAllowSetTradingPass"  num="1"/></div>
    </form>
    <input type="button" class="demo1 btn" value="验证" />

    <pre><code>
      try {
        console.clear();  //清空console里的内容
      } catch(e) {   }

      //获取form下所有要验证的input
      var $inputs = $('.validate-form  .va-input');
      var num = [];  //验证是否重复数字
      //遍历所有要验证的input
      for(var i = 0,len = $inputs.length;i < len;i++) {
        //取验证的类型
        var val_type = $inputs.eq(i).attr('val-type');
        //重复数字验证
        if(val_type == 'isAllowSetTradingPass') {
          num[$inputs.eq(i).attr('num')] = $inputs.eq(i).val();
          if(num.length==2) {
            //console.log(num);
            cValidate.isAllowSetTradingPass(num) ?  console.log('重复数字: is true') : console.error( '重复数字: is false');
          }
          continue;
        }
        //验证input里的值是否符合该类型的验证条件
        var isTrue =  cValidate[val_type]($inputs.eq(i).val());
        //输出验证信息
        if(isTrue) {
          console.log($inputs.eq(i).prev('label').html() + ' is true');
        } else {
          console.error($inputs.eq(i).prev('label').html() + ' is false');
        }
      }
    </code></pre>
</section>



 
