<div id="headerview" style="height: 48px;">
    <header>
        <h1>404</h1>
    </header>
</div>


<section class="demos">

    <h2 class="dh2">独立使用</h2>
    <input type="button" class="demo1 btn" value="独立使用">
<code><pre>
/*
一些情况下该组件可以内嵌页面，这里便与pageview没关系了
*/   

'click .demo1': function () {
  if (!this.layer404) {
    this.layer404 = new UIWarning404({
      wrapper: this.$('.warningWrapper')

    });
  }
  this.layer404.show();
}
</code></pre>

<div class="warningWrapper"></div>
</section>
 
