@charset "utf-8";
.carlist li:before,.ok_crt:after,.icon_car:before,.car_lr_list_after:after,.carmarket li:before{background:url(../img/car2.png?t=20131115) no-repeat; background-size:215px 165px;}
/*byzuo star*/
/*订单详情*/
.close_rvalue .clear-input {right:-3px;}
.car_combd{border:#cfcfcf 1px solid;border-bottom:none;background-color:#fff;}
.car_combd li{position:relative; overflow:hidden;padding:11px 10px;border-bottom:#cfcfcf 1px solid;}
.car_combd li.hd{background-color:#f5f5f5;font-size:15px;padding:5px 10px;}
.car_combd .hd span{float:right;line-height:20px;}
.car_combd .hd em{color: #ff9913;font-size:1.2em;}
.car_combd .hd dfn{font-size:0.8em;}
.car_combd li p{/*position:relative; */padding-left:75px;word-break: break-all;}
.car_combd li p label{width:75px;color:#808285;margin-left:-75px;display:inline-block;}
.car_combd li p label.label2{width:95px;}
.car_combd li p .cinfo,.car_combd li p .ctel{float:right;position:relative;top:-12px;}
.car_combd li p .ctel{top:-12px; width:50px; height:25px; border:#e7e7e7 1px solid;}
.car_combd li p .cinfo{border:#e7e7e7 1px solid;padding:3px 5px;color:#808285;}
.car_combd li p .ctel:before{width:22px;height:22px;right:13px; top:2px; background-position:-164px -20px;opacity:.7;}
.car_combd li p.hm{padding:8px 0;}
.ccancel{background:#ebebeb;padding:10px;color:#000;}
.ccancel em{color:#d1d3d4;}
.cblues,.cblue_a{color:#1491c5;}
.cfonts{color:#a7a9ac;padding:5px 10px;}
.car_combd li.pnum{height:21px;line-height:21px;}
.not_login{background:#ffeea0;width:100%;padding:5px 10px;}

.car_combd s.click_area_l,.car_combd s.click_area_r{width:50px;top:-7px;height:44px;}
.car_combd s.click_area_l{left:-10px;}
.car_combd s.click_area_r{right:-10px;}
/*订单填写*/
.cfill_orders .tx_reset{padding:0;overflow:hidden;}
.cfill_orders .tx_reset .corder_img{width:100px;height:80px;float:left;}
.cfill_orders .tx_reset .corder_img img:not(.cui-item-imgbg){width:100px;height:80px;}
.cfill_orders .tx_reset .rft{padding:8px 5px 8px 170px;line-height:16px;}
.cfill_orders .tx_reset .rft p{padding-left:0;}
.cfill_orders .tx_reset p label{width:65px;margin-left:-60px;float:left;}
.cfill_orders .txt{width:80%;float:right;text-align:right;padding-right:15px;height:auto;background:transparent;font-size:1em;margin:0;}
.cmoretxt{color:#06a2d0;}
.cmore_top,.cmore_bottom{width: 0;height:0;border-width:8px;border-style: solid;display:inline-block;vertical-align:middle;}
.cmore_top{margin-top:4px;border-color:#06a2d0 transparent transparent transparent;}
.cmore_bottom{margin-top:-8px;border-color:transparent transparent #06a2d0 transparent;}
#feeMoreInfo{padding-top: 5px;display: inline-block;}
.line3_hidden {max-height:60px;overflow:hidden;}
.itemMore{
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(0,rgba(255, 255, 255, 0)), color-stop(0.5, #ffffff));
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 50%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 50%);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 50%);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 50%);  
}
/*选择车型*/
.cs_carmodels{border-top:#c8c8c8 1px solid;}
.cs_carmodels li{padding:0 10px 0 100px;border-bottom:#c8c8c8 1px solid;background:#fff;overflow:hidden;}
.cs_carmodels .carimg{width:90px;height:77px;margin-left:-100px;float:left;}
.cs_carmodels .carimg img:not(.cui-item-imgbg){width:90px;height:77px;}
.cs_carmodels hgroup{padding:5px 0;}
.cs_carmodels h4{padding-bottom:3px;font-size:1.15em;}
.cs_carmodels h5{color:#a2a3a6;clear:right;line-height:16px;font-size:.9em;}
.cs_carmodels h5 dfn{font-size:0.8em;}
.cs_carmodels h5 span{color: #ff9913;font-size:1.2em;float:right;}
.cs_carmodels h5 em{width:40px;height: 20px;line-height: 20px;top: -2px;right:-4px;float:right; position:relative;z-index:10; text-align:right;}
/*byzuo end*/

/*---------add by pp-----------------*/
/*order_head*/
.hd_pull{position:absolute; top:6px; left:50%; margin-left:-15%; width:30%;  text-align:center; font:normal 16px/2 ""; color:#fff; background:#1da9e4; border-radius:4px;}
.hd_pulltit:after{position:absolute;content:""; right:4px; top:14px;width:0; height:0; border-top:10px solid #fff; border-left:8px solid transparent; border-right:8px solid transparent;}
.hd_pop{display:none; font-size:14px; line-height:1.8}
.hd_pull:hover .hd_pop,.hd_pull:active .hd_pop{display:block;}
.hd_pop li:hover,.hd_pop li:active{ background-color:#0096c7;}
/*order_list*//*---------modify by pp 10/30>>-----------------*/
.car_orderlist{padding:10px; color:#333;}
.car_orderlist li{position:relative;padding:10px;margin-bottom:10px; border:1px solid #cfcfcf; background:#fff;}.car_orderlist li:active{ opacity:0.8;}
.car_ordername{width:70%;  font:bold 14px/1.5 "";}
.car_ordernb,.car_ordertime{font:normal 12px/1.5 ""; color:#585858;}
.car_ordertime em{display:block;}
.car_orderstate{ position:absolute; top:10px; right:0; padding:2px 7px; color:#fff;}
.car_ordersok{ background:#41c230;}
.car_orderscancle,.car_orderssure{ background:#cccccc;}
.car_ordersing{ background:#ff9913;}
.car_orderlist .newprice{color:#ff9913;}/*---------<<modify by pp 10/30-----------------*/
/*carflight*/
.car_flight_tit{padding:0 10px;overflow:hidden; background:#f5f5f5; border-bottom:1px solid #cfcfcf; }
.car_flight_tit li{float:left; width:25%; line-height:30px; overflow:hidden;}
.car_flight_list .list_sunit{ width:25%;}
.car_flight_list em,.car_flight_list i{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/*---------add by w_jing-----------------*/
.cgray{color:#A7A9AC;}.cprice{color:#ff8c00;}
.btn{width:50%; height:45px; line-height:45px; display:inline-block;background:rgba(255,153,19,1); color:#fff; font-size:18px;}
.btn:active{background:rgba(255,153,19,.8);}
.mtop10{ margin-top:10px;}.mr24{ margin-right:17px !important;}.ml5{ margin-left:5px;}
/*bookingresult*/
.resultinfo{ padding:5px 10px 15px;}
.box,.resultorderinfo{ width:100%; height:auto; padding:10px 0; border:1px solid #CFCFCF; background-color:#fff; position:relative;}
.resultorderinfo h1{ height:auto;text-indent:10px; margin-bottom:6px;}
.resultorderinfo p{ color:#898989; text-indent:10px; font-size:16px;}
.resultorderinfo i{ margin-left:35px; color:#333; font-weight:600;}
.resultorderinfo i.cprice{color:#ff8c00;}
.novip{ text-align:center; margin-top:15px;}
.novip p{ text-align:left;}
/*index*/
.carbar{ width:100%; background:transparent; padding:0;-webkit-animation:img_move .85s ease-out;}
.carbar img,.carbar a{display:block}
@-webkit-keyframes img_move 
    { 
        from{
            opacity:0;
            -webkit-transform:translateY(-100px);
        }
        to {
            opacity:1;   
            -webkit-transform:translateY(0);
        }
    }
.carlist li,.send_vernbox li{ font-size:16px; position:relative; overflow:hidden;}
.carlist li input.txt{background:transparent; text-align:left;}/*add text-align:left; by w_jing 10/21*/
.carlist label{ margin:0 22px;float:left; color:#58595B;font-size:14px;}
.newcarbox label,.availtickets label{ font-size:16px;}
.carlist li:before{position: absolute;content: "";left:10px; top:15px;width:16px; height:16px; background-position:0px -40px;}
.carlist li:nth-child(2):before { background-position:0px -71px; }
.carlist li:nth-child(3):before { background-position:-54px -69px; }
.carlist li:nth-child(4):before { background-position:-117px -37px; }

.send_vernbox label{margin-right:22px;float:left; color:#58595B;}
.send_vernbox input {padding:0;}
.send_vernbox .txt{background:transparent;}
/*search*/
.serach_tab {border-bottom:1px solid #cfcfcf;overflow:hidden;}
.serach_tab li,.carlist .smalltab span{float: left;width: 50%;height:39px; line-height:39px; font-size:16px; text-align: center; background:#f7f7f7; color: #808285;border-bottom:4px solid transparent}
.serach_tab li.current,.carlist span.current{ color:#329ECB; border-bottom:4px solid #1491C5;}
.airno{ margin-top:10px;}
.airticket li:nth-child(1):before { background-position:-25px -40px;}
/*modify by w_jing 2014-1-6 5.4用车*/
.airno li:nth-child(1):before { background-position:-140px -68px; }
.airno li:nth-child(2):before { background-position:-25px -70px; }
.airno li:nth-child(3):before { background-position:-140px -38px; }
/*end*/
.airport li:nth-child(1):before { background-position:-54px -40px; }
.airport li:nth-child(2):before { background-position:-25px -70px; }
.airport li:nth-child(3):before { background-position:-140px -38px; }
.airport li:nth-child(4):before,.hour li:nth-child(3):before { background-position:-53px -69px; }
.hour li:nth-child(2):before { background-position:-25px -96px; }
.hour li:nth-child(4):before { background-position:0px -96px; }
.searchbom{ text-align:center; margin-top:15px;}
.carlist em{ width:55%;float:left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.send_vernbox em{position:absolute;left:80px;right:116px;}
.carlist em.smalltab{ position:absolute; right:0; left:108px; width:auto; z-index:10;}
.smalltab .nocar,.cnotime{color:#D1D3D4;}
.carlist .fdj{display:inline-block; width:51px;height:100%;color:#58595B;text-align:center;border-left:1px solid #cfcfcf; position:absolute; right:0; z-index:999;}
.fdj:active{ background:#f2f2f2;}
.fdj i{display:inline-block; height:15px; font-size:10px;margin-top:13px; }
.fdj:before{ left:16px; top:12px}.fdj:after{ left:30px; top:12px;}
/*notravelticket*/
.box{ margin-bottom:10px;}
.box ul{ padding:0 10px; color:#8D8D8D;}
.box h2{ width:100%;height:auto; line-height:22px;color:#585858;font:normal 1.143em/1.8 "Arial","Microsoft YaHei";}
.box button{position:absolute; right:10px; bottom:15px;width:55px;height:28px; line-height:28px; background:#FF9913; color:#fff; -webkit-tap-highlight-color:#ff8c00;}
.box button:active{ background:#ff8c00;}
/*invoice*/
.car_combd .txt{position:absolute; right:30px; width:62%;  text-align: right;padding-right:0;height:auto;background:transparent!important;word-break:break-all; box-sizing:border-box; }
.car_combd input.txt{width:60%;top:-4px; right:20px; padding:5px 0 3px;line-height:22px;}
.txt::-webkit-input-placeholder,.txt::-moz-input-placeholder,.txt::-ms-input-placeholder{direction: rtl;}
#flightno.txt::-webkit-input-placeholder,#flightno.txt::-moz-input-placeholder,#flightno.txt::-ms-input-placeholder{direction: ltr;}
.car_combd h4{font-size:15px;line-height: 21px;}
.invoicelist li{ position:relative; font-size:15px;overflow:hidden;}
.title{ margin:10px 0 5px 15px;}
.openclose em{ display:inline-block;width:60px; height:23px; line-height:23px; background:#CCCCCC; border-radius:50px; vertical-align:bottom; float:right; position:relative;-webkit-transition:background 150ms linear;}
.openclose em i{ width:21px; height:21px; background:#fff; border-radius:50%; position:absolute; top:1px; left:1px;}
.openclose em.open{ background:#15A4D5;}
.openclose em.open i{ left:auto; right:1px;}
.xuzhi{color:#808285; padding:20px;}
.brand li p label{ width:auto;}


.car_headlist{margin-top:-2px; box-sizing:border-box;border:1px solid #1da9e4; border-bottom-right-radius: 4px;border-bottom-left-radius:4px;}
.car_headlist .cui-option{font:normal 14px/1.8 ""; color: #fff; background: #1da9e4; border:none;}
.car_headlist .cui-option-selected{ background-color: #0096c7; margin:0 -1px;}
.car_headlist .cui-originselect{ border:none;}

.newarr_up .newarr_r{-webkit-transform:rotate(-90deg);}
.newarr_down .newarr_r{-webkit-transform:rotate(90deg);}
.intrip .clear-input{width:25px; }
.car_combd .clear-input{width:25px; height:30px; top:-4px!important; right:-4px!important;}
#postAddrContainer .txt{position:static;width:100%; padding-right:20px;display:inline-block;vertical-align:middle;}

/*add by w_jing 10-30 */
.taxi .smalltab span,.taxisj .smalltab span{ width:25%; font-size:10px; font-family:Arial;}
.smalltab i{font-size:15px;}
.taxi input.txt,.taxibom input.txt{ margin:0; padding:0;}
.taxibom{ margin:10px 0;}
.ptip{padding:5px 10px;line-height:20px; background:#FBF4DB; color:#66645B;margin-bottom:25px;}

/*add by byzuo 10-30 */
.ctel_bt:before{width:22px;height:22px;left:5px;background-position:-164px -20px;opacity:.7;}
.car_gray_btns span{text-align:center;background:#ebebeb;padding:5px 0;position:relative;}
.car_gray_btns span:nth-child(2){margin:0 10px;}
.car_yemsg{background:#fbf4db;padding:10px;display:block;margin-bottom:10px;}
.carfx_m{border:#1491c5 1px solid;color:#1491c5;padding:2px 5px;}
.car_rels li.tb_li{position:relative;padding-right:20px;}
.car_rels .car_mapsli{padding-left:25px;}
.car_rels .car_mapsli .subb_address:before{top:12px;}
.car_rels .car_mapsli .ctel_bt{opacity:.5;}
.car_send_vern{width:115px;position:absolute;right:0px;text-align:center;border-left:1px solid #cfcfcf;padding:1px 0;color:#c4c4c4;font-size:15px;}
.car_send_vern.cb_code{color:#1491c5;}
/*add by pp 10-31*/
.car_combd_single{position:relative; padding:10px 10px 5px 10px; margin:0 0 10px;  font-size:16px; background:#fff; border:1px solid #cfcfcf; color:#58595b;}
.font16{font-size:16px;}.car_comtxt{font-size:14px;}
.car_okwrap .cgray{ line-height:28px;}
.mbtn{margin:15px auto; }
.icon_car{padding:7px 10px  7px 50px; line-height:18px;}
.icon_car:before{position:absolute; content:""; left:10px; top:50%; margin-top:-15px; width:30px; height:30px; background-position:0 0; vertical-align:middle; }
.car_time{ font-size:12px;color:#ff9913;}.car_time i{font-size:30px; line-height:1.2;}
.p_center{ text-align:center;}
.car_lr_list {font-size:14px;}
.car_lr_list i{display:inline-block; width:70px;color:#808285;}
.car_lr_list_after{position:absolute; right:10px; bottom:10px; width:50px; height:28px;  border:1px solid #e6e6e7;}
.car_lr_list_after:after{position:absolute; content:"";  left:50%; top:50%;  margin:-10px 0 0 -10px; width:20px; height:20px; background-position:-85px -37px;}

/*add by w_jing 11-06*/
.newtaxi li,.newcar li{min-height:58px; line-height:normal; overflow:hidden;}
.newtaxi .m,.newcar .m{display:inline-block; vertical-align:middle; line-height:58px; }/*modify by w 12-30*/
.newtaxi label,.newcar label{ display:inline-block;  width:60%; margin:0 50px;   vertical-align:middle; color:#585858; float:none !important;}
.newtaxi p,.newcar p{width:130%; color:#A3A3A3; font-size:12px;line-height:normal;}
.newcarbox{ padding:0 10px 10px;}
.taxitit{ margin:6px 10px 0; color:#545454; font-family:Microsoft YaHei; font-weight:normal;}
.newtaxi li:before,.newcar li:before {left:10px;top:8px;width: 40px;height: 40px;}
.newtaxi li:nth-child(1):before { background-position:0px -125px; }
.newtaxi li:nth-child(2):before {background-position:-42px -125px; }
.newcar li:nth-child(1):before {background-position:-84px -125px; }
.newcar li:nth-child(2):before {background-position:-126px -125px; }
.newcar li:nth-child(3):before {background-position:-168px -125px; }
.taxi li:nth-child(3):before,.taxisj li:nth-child(4):before {background-position:-81px -71px; }
.taxibom li:nth-child(1):before { background-position:-102px -70px; }
.taxisj li:nth-child(1):before {background-position: -25px -70px;}
.taxisj li:nth-child(2):before {background-position: 0 -40px;}
.newcarbox .newarr_r:before,.newcarbox .newarr_r:after{ background-color:#C7C7C7;}
.taxisj .txt{padding-left:0;}
.label_s{height: 58px;line-height: 58px;}
.carphonenum{width: auto !important;position: absolute;right: 0;left: 108px;}
/*add by pp 11-08*/
.citylist small{min-height:20px; line-height:18px;  color:#666;}
.car_mb5{margin-bottom:5px;}.car_mt10{margin-top:10px!important;}

/*add by w_jing 2014-1-6 5.4用车*/
.newserno .search_box{ width:100%;}
.search_wrap{ border-bottom:1px solid #e2e2e2;}
.newnolist{color:#686868;}
.newnolist dd{padding:12px 20px 12px 10px;}
.carmarket{ margin:25px auto;color:#B0B0B0}
.carmarket li{ float:left; border-right:1px solid #c4c4c4;}
.carmarket li:last-child{ border-right:none;}
.carmarket li:before{position:absolute; content:""; width:23px; height:23px; margin-top:3px; margin-left:10px;}
.carmarket li:nth-child(1):before {background-position: -40px 0px;}
.carmarket li:nth-child(2):before {background-position: -72px 0px;}
.carmarket li:nth-child(3):before {background-position: -104px 0px;}
.carmarket p{ text-indent:35px; line-height:15px; padding-right:10px; font-size:13px;}

.tsinfo{overflow:hidden; height:25px; }
.tsinfo p{ line-height:25px; -webkit-animation:tuisong 18s cubic-bezier(1, 0, 0.29, 0.73) infinite both;}
@-webkit-keyframes tuisong {
  0%,12% {
      -webkit-transform:translateY(0);
  }
  17%,29% {
      -webkit-transform:translateY(-25px);
  }
  34%,46% {
      -webkit-transform:translateY(-50px);
  }
  51%,63% {
      -webkit-transform:translateY(-75px);
  }
  68%,80% {
      -webkit-transform:translateY(-100px);
  }
  85%,95% {
      -webkit-transform:translateY(-125px);
  }
  100% {
      -webkit-transform:translateY(-150px);
  }

