/*header {
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
}*/
.btn{
    height: 32px;
    line-height: 32px;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 0px 25.6px;
    margin-left:0px !important;
}
.btn:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}
code {
    margin:10px;
    border: 1px solid #ddd;
    color: #000;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.dh2 {
    margin:10px;
    font-size: 16px;
}
.demos .btn {
    margin-left:10px !important;
}