/*header {
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
}*/
.btn{
    height: 32px;
    line-height: 32px;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 0px 25.6px;
    margin-left:0px !important;
}
.btn:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}
code {
    margin:10px;
    border: 1px solid #ddd;
    color: #000;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    word-wrap: break-word;
}
.dh2 {
    margin:10px;
    font-size: 16px;
}
.demos .btn {
    margin-left:10px !important;
}
.dis-no {
    display: none;
}
.s-tpl {
    text-align: center;
}
.imgs-area {
    margin:10px;
    min-height: 500px;
    background: lightgoldenrodyellow;
    text-align: center;
}
.imgs-area li {
    list-style: none;
}
.ml-10 {
    margin-left:10px;
}
.mlr-10 {
    margin: 0 10px;
}
.ta-c {
    text-align: center;
}
.f22 {
    font-size: 22px;
}
.flip-content {
    margin: 0 10px;
    height: 200px;
    line-height: 200px;
    background: #d9d9d9;
}
.validate-form div {
    margin-top: 10px;
}
.validate-form label {
    width: 80px;
    display: inline-block;
    line-height: 30px;
    text-align: right;
}
.validate-form input, .d-input {
    width: 150px;
    height: 30px;
    background: #fff;
    border:1px solid #ccc;
}

 .dh2 { font-weight: bold; margin-bottom: -1px; border: 1px solid #bcbcbc; background: #fff; padding: 5px 10px; margin: 10px 5px; }
.horizontal li { float: left; width: 100px; background-color: White;  }
.horizontal .slider-item-wrapper { width: 100%; height: 100%;}
.error_info {
    position: absolute;
    top: 108px;
    left: 299px;
    border-radius: 3px;
    color: #000;
    padding: 5px 15px;
    text-align: center;
    background: #ff8c00;
    font-size: 12px;
}
.error_info:before {
    content: '';
    border-color: transparent;
    border: 5px solid transparent;
    top: 9px;
    position: absolute;
    left: -10px;
    border-right: 5px solid #ff8c00;
}
.pos-rel {
    position: relative;
}
.d-input {
    width: 200px;
    background: #fff;
}
.input-div {
    width: 200px;
    margin-left:10px;
    margin-bottom: 5px;
}
