.icon-refund, .icon-offline, .icon-tel, .icon-home, .icon-loved, .icon-love, .icon-comment, .icon-compass, .icon-file, .icon-share, .icon-email, .icon-edit, .icon-sucess, .icon-date, .icon-rate, .icon-rate-half::before, .icon-loading, .icon-loading .icon-loading-circle {
  background-image: url(http://doc.ui.sh.ctriptravel.com/utools/thumb/docs/images/bg-global.png);
  background-repeat: no-repeat;
  -webkit-background-size: 240px auto;
          background-size: 240px auto;
  vertical-align: middle;
  display: inline-block;
}

.icond-arrow::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1px;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icond-close {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}
.icond-close::before, .icond-close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -8px;
}
.icond-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon-refund {
  width: 43px;
  height: 43px;
  background-position: -181px 0;
}

.icon-offline {
  width: 38px;
  height: 38px;
  background-position: -130px 0;
}

.icon-tel {
  width: 20px;
  height: 20px;
  background-position: -23px -50px;
}

.icon-home {
  width: 20px;
  height: 20px;
  background-position: 0 -52px;
}

.icon-loved {
  width: 20px;
  height: 20px;
  background-position: -47px -50px;
}

.icon-love {
  width: 20px;
  height: 20px;
  background-position: -71px -50px;
}

.icon-comment {
  width: 20px;
  height: 20px;
  background-position: -97px -50px;
}

.icon-compass {
  width: 20px;
  height: 20px;
  background-position: -123px -50px;
}

.icon-file {
  width: 20px;
  height: 20px;
  background-position: -147px -50px;
}

.icon-share {
  width: 20px;
  height: 20px;
  background-position: -172px -50px;
}

.icon-email {
  width: 20px;
  height: 20px;
  background-position: -198px -51px;
}

.icon-edit {
  width: 18px;
  height: 18px;
  background-position: -47px -80px;
}

.icon-sucess {
  width: 33px;
  height: 33px;
  background-position: 0 -80px;
}

.icon-date {
  width: 15px;
  height: 15px;
  background-position: -48px -105px;
}

.icon-rate {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: -225px -98px;
  position: relative;
}

.icon-rate-active {
  background-position: -225px -80px;
}

.icon-rate-half::before {
  content: "";
  width: 7.5px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  background-position: -225px -80px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.icon-loading {
  position: relative;
  width: 38px;
  height: 38px;
  background-position: -39px 0;
}
.icon-loading .icon-loading-circle {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-animation: loading 0.8s linear infinite;
          animation: loading 0.8s linear infinite;
}

.icon-loading--gray {
  width: 24px;
  height: 24px;
  background-position: -96px 0;
}
.icon-loading--gray .icon-loading-circle {
  width: 24px;
  height: 24px;
  background-position: -77px 0;
}

.icond-back {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.icond-back::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icond-checkbox, .icond-radio {
  display: inline-block;
  vertical-align: -2px;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  background-color: #fff;
  position: relative;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.icond-checkbox.active, .icond-radio.active {
  border-color: #099fde;
}
.icond-checkbox.active::after, .icond-radio.active::after {
  content: "";
  height: 4px;
  width: 12px;
  border: 1px solid #099fde;
  border-width: 0 0 2px 2px;
  position: absolute;
  top: 1px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icond-checkbox.active::before, .icond-radio.active::before {
  content: "";
  width: 5px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}
.icond-checkbox.disabled, .icond-radio.disabled {
  border-color: #ccc;
}

.icond-radio {
  border-radius: 10px;
}
.icond-radio.active::after {
  width: 10px;
  top: 2px;
  left: 4px;
}
.icond-radio.active::before {
  top: 0;
  border-radius: 0 6px 0 0;
}

.icond-switch {
  height: 28px;
  width: 46px;
  position: relative;
  display: block;
  background-color: #CCCCCC;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.icond-switch::before {
  content: "";
  height: 28px;
  width: 46px;
  position: absolute;
  left: -46px;
  background-color: #099FDE;
  border-radius: 14px;
  -webkit-transition: left 0.2s ease 0s;
          transition: left 0.2s ease 0s;
  z-index: 2;
}
.icond-switch::after {
  content: "";
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 14px;
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: left 0.2s ease 0s;
          transition: left 0.2s ease 0s;
  z-index: 3;
}
.icond-switch.active::before {
  left: 0;
}
.icond-switch.active::after {
  left: 20px;
}

.icond-arrow {
  display: inline-block;
  width: 30px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.icond-search {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.icond-search::after {
  content: "";
  background: #fff;
  height: 7px;
  width: 2px;
  position: absolute;
  left: 11px;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icond-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.icond-close::before, .icond-close::after {
  background-color: #fff;
}

.icond-list {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
}
.icond-list::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
          box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

.icond-plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.icond-plus::before, .icond-plus::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #099fde;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.icond-plus::after {
  width: 2px;
  height: 16px;
}
